.list-link a {
  color: black;
}

.menu-icon {
  @apply hidden fixed text-[2rem] w-[2rem] h-[2rem] top-[15px] right-[50px] z-[999999] cursor-pointer transition-[0.5s];
}

.menu-icon.scroll {
  display: block;
}

/* Profile section */

.projects,
.contacts {
  padding: 3rem 7%;
}

.projects h2,
.contacts h2 {
  @apply text-[2rem] p-4 text-center mb-20;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.card h3 {
  text-align: center;
}

/* Projects */

.projects {
  padding-top: 0;
}

.projects .container {
  border: 1px solid black;

  margin-bottom: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  /* about section */

  .about h2::after {
    content: "";

    transform: translateX(-175px);
  }
}
