nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;

  color: black;
  font-weight: bold;
  padding: 1.5rem 5%;
  z-index: 99999;
  transition: 0.2s ease-in-out;
}

nav.active {
  transform: translateY(-100px);
}

nav .logo {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.list-link {
  margin-left: 20px;
  display: flex;
  column-gap: 50px;
  transition: 1s ease;
  border: 1px solid rgb(126, 122, 122);
  backdrop-filter: blur(39px);
  padding: 10px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.658);
}

.list-link.active {
  position: fixed;
  display: flex;
  width: 100%;
  row-gap: 2rem;
  height: 100vh;

  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  flex-direction: column;
  padding-bottom: 5rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s ease;
}

.list-link a {
  color: black;
}

.menu-icon {
  filter: opacity(0);
  display: none;
  position: fixed;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  top: 15px;
  right: 50px;
  z-index: 999999;
  cursor: pointer;
  transition: 0.5s;
}

.menu-icon.scroll {
  display: block;
  filter: opacity(100%);
}

/* Profile section */

header,
.about,
.projects,
.contacts {
  padding: 5rem 7%;
}

header {
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .description {
  width: 40%;
}

header .description h2 {
  font-size: 2rem;
}

header .description p {
  line-height: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header .description .logo {
  display: flex;
  column-gap: 1.5rem;
}

header .description .logo a {
  color: black;
}

header .description .logo a:hover {
  color: blue;
  font-weight: bold;
}

header .photo-profile {
  width: 40%;
}

header .photo-profile img {
  width: 100%;
}

/* about section */
.about {
  padding-bottom: 10rem;
}

.about h2,
.projects h2,
.contacts h2 {
  /* text-align: center; */
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  margin-bottom: 5rem;
}

.about h2 {
  position: relative;
}

.about h2::after {
  content: "";
  position: absolute;
  width: 14rem;
  height: 1px;
  background-color: white;
  bottom: 10px;

  transform: translateX(-225px);
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.card {
  width: 260px;
  /* height: 300px; */
  padding: 1rem;
  border: 0.5px solid black;
  border-radius: 20px;
  background-color: rgb(247, 242, 242);
  transition: 0.5s ease;
}

.card:hover {
  transform: translateY(-20px);
}

.card .image {
  height: 10rem;
  display: flex;
  align-items: center;
  border: black 1px solid;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.card h3 {
  text-align: center;
}

/* Projects */

.projects {
 padding-top: 0;
  
}

.projects .main-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects .container {
  border: 1px solid black;

  margin-bottom: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
}

/* contacts section */

/* footer section */
footer {
  background-color: var(--primary);
  padding: 2rem 0;
  text-align: center;
}

footer .social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 1rem;
}

footer .social a {
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .list-link {
    position: absolute;
    display: none;
    row-gap: 2rem;

    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;

    padding-bottom: 5rem;
    top: 0;

    right: 0;
    height: 100vh;
    width: 0;
    transition: 1s ease;
  }

  .list-link a {
    font-size: 1.5rem;
  }

  .list-link.active {
    display: flex;
    width: 500px;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 999999;
  }

  header {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  header .description {
    width: 100%;
  }

  /* about section */

  .cards {
    justify-content: center;
  }

  .about h2::after {
    content: "";

    transform: translateX(-175px);
  }

  /* projects section */
  .projects .main-projects {
    justify-content: center;
  }
}
