@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Poppins", sans-serif;
  --primary: #f9f5e8;
  --black: #1d1818;
  --secondary: #f03a20;
  --white: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  position: relative;
  background-color: var(--primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

